{% extends 'base.html' %} {% block content %}


<!-- header section  -->

<section class="heading">
    <h1>shopping cart</h1>
    <p> <a href="home.html">home</a> >> cart </p>
</section>

<!-- header section -->

<!-- cart section starts  -->

<section class="shopping-cart">

    <h1 class="title"> your products </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-times"></i>
            <img src="images/cart-item-1.png" alt="">
            <div class="content">
                <h3>premium glasses</h3>
                <form action="">
                    <span>quantity :</span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price"> $20.00 <span>$25.00</span> </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-times"></i>
            <img src="images/cart-item-2.png" alt="">
            <div class="content">
                <h3>premium glasses</h3>
                <form action="">
                    <span>quantity :</span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price"> $20.00 <span>$25.00</span> </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-times"></i>
            <img src="images/cart-item-3.png" alt="">
            <div class="content">
                <h3>premium glasses</h3>
                <form action="">
                    <span>quantity :</span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price"> $20.00 <span>$25.00</span> </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-times"></i>
            <img src="images/cart-item-4.png" alt="">
            <div class="content">
                <h3>premium glasses</h3>
                <form action="">
                    <span>quantity :</span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price"> $20.00 <span>$25.00</span> </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-times"></i>
            <img src="images/cart-item-5.png" alt="">
            <div class="content">
                <h3>premium glasses</h3>
                <form action="">
                    <span>quantity :</span>
                    <input type="number" name="" value="1" id="">
                </form>
                <div class="price"> $20.00 <span>$25.00</span> </div>
            </div>
        </div>

    </div>

    <h1 class="title">checkout cart</h1>

    <div class="cart-total">
        <h3>subtotal : <span>$100.00</span></h3>
        <h3>total : <span>$100.00</span></h3>
        <a href="#" class="btn">proceed to checkout</a>
    </div>

</section>

<!-- cart section end -->










{% endblock %}