{% extends 'base.html' %} {% block content %}


<div style="height: 80vh; overflow-y: scroll; overflow-x: hidden;">

    <h1 class="text-center" style="font-weight: bold; color: purple;">STORES</h1>

    <!-- Store Card -->

    <a href="goproduct">
        <div class="bigcard row">
            <img class='col-8' src="https://picsum.photos/200/300?random=1" alt="Random PIC">
            <div class="detail col-4 d-flex align-items-center flex-column">
                <h3 class='my-3'>Stylloft</h3>
                <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
            </div>
        </div>
    </a>


    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=2" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=3" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=4" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=5" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=6" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=7" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=8" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

    <div class="bigcard row">
        <img class='col-8' src="https://picsum.photos/200/300?random=9" alt="Random PIC">
        <div class="detail col-4 d-flex align-items-center flex-column">
            <h3 class='my-3'>Stylloft</h3>
            <p class='p-2'>Best Brands and Rate accross Bhiwandi</p>
        </div>
    </div>

</div>

{% endblock %}