.d-buttons {
    position: absolute !important;
    bottom: 15% !important;
}

.shopping-btn {
    background-color: white !important;
    color: black !important;
    border: 3px dashed black !important;
    border-radius: 50px !important;
    box-shadow: 3px 3px 15px rgb(180, 180, 180) !important;
}

.join-btn {
    background-color: purple !important;
    border: 3px solid purple !important;
    border-radius: 50px !important;
    box-shadow: 3px 3px 15px rgb(180, 180, 180) !important;
}